body {
    background-image: url(../Images/gravel.png);
}

.container {
    width:960px;
}

#name {
    color: #4aaaa5;
}

nav {
    background: #ffffff;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-color: #cccccc;
    top: 0;
    position: fixed;
    width: 100%;
}

.jumbotron {
    margin-top:20px;
    margin-bottom: 20px;
    background: #ffffff;
    padding-top: 15px;
    padding-bottom: 15px;
    border-style: solid;
    border-width: 1px;
    border-color: #cccccc;
}

.display-5 {
    color: #4aaaa5;
}

#catimg {
    float:left;
    margin-right: 20px;
    margin-bottom: 20px;
}

.nameform {
    width: 100%;
}

.emailform {
    width: 100%;
}

.messageform {
    width: 100%;
}

.grid {
    display: block;
    width:100%;
}

#footer1 {
    background: #777777;
    color: #ffffff;
    text-align: center;
    padding-top: 14px;
    padding-bottom: 4px;
    border-top-style: solid;
    border-top-width: 10px;
    border-top-color: #4aaaa5;
    left: 0;
    bottom: 0;
    width: 100%;
    margin-top: 10px;
    position: fixed;
}

#footer2 {
    background: #777777;
    color: #ffffff;
    text-align: center;
    padding-top: 14px;
    padding-bottom: 4px;
    border-top-style: solid;
    border-top-width: 10px;
    border-top-color: #4aaaa5;
    left: 0;
    bottom: 0;
    width: 100%;
    margin-top: 10px;
}
