body {
    background-image: url(../images/gravel.png);
}

.container {
    width:960px;
}

.navbar-brand {
    margin-left: 50px;
    background: blue;
    padding: 10px;
    color: white;
}

#name {
    color: white;
}

nav {
    background: white;
}

.nav-item {
    margin-right: 50px;
}

.jumbotron {
    margin-top:20px;
    background: white;
    padding-top: 15px;
    padding-bottom: 15px;
}

.display-5 {
    color: blue;
}

#catimg {
    float:left;
    margin-right: 20px;
    margin-bottom: 20px;
}

.nameform {
    width: 100%;
}

.emailform {
    width: 100%;
}

.messageform {
    width: 100%;
}